XsDiff/src/test/resources/unit/simple-seq2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:testing="http://vingolds.ch/xsd/2016/testing" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://vingolds.ch/xsd/2016/testing">
    <xs:complexType name="P_Type">
        <xs:sequence>
            <xs:element name="pol" type="testing:P_Type" new-attr="totally new val" />
        </xs:sequence>
        <xs:attribute default="g" name="name" type="xs:double" use="optional" />
    </xs:complexType>

</xs:schema>

