XsDiff/src/test/resources/unit/subnode-remove2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:testing="hhttp://vingolds.ch/xsd/2016/testing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vingolds.ch/xsd/2016/testing">
   <xsd:complexType name="details" abstract="true">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long" minOccurs="0"/>
         <xsd:element name="cd" type="xsd:string" minOccurs="0"/>
         <xsd:element name="pro" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
